<div class="clearfix"></div>
<div class="container">
  <div class="alert">
    <% if @contact_store.errors.full_messages.any? %>
      <% @contact_store.errors.full_messages.each do |error_message| %>
      <%= error_message if @contact_store.errors.full_messages.first == error_message %> <br />
      <% end %>
    <% end %>
  </div>
  <div class="stor-full-top">
    <div class="dv-title text-center col-md-12">
    <h2>Return Request for Order</h2>
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="locan-stor cate-pg ord_pg">
    <%= render  partial: "spree/en/account_management/side_bar_tab" %> 
    <div class="col-lg-10 col-md-10 col-sm-9 p-0 stor-return-pg">
      <div class="col-lg-12 col-md-12 col-sm-12 p-0 det-ord-return"> 
        <div class="col-lg-12 col-md-12 col-sm-12 odr-return-main">
          <%= form_for @contact_store, url: vendor_contact_stores_path(@vendor.id), html: { method: :post } do |f| %>
            <div class="col-lg-12 col-md-12 col-sm-12 wet-text">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat. </p>
            </div>

            <div class="re_turn_person col-lg-12 col-md-12 col-sm-12 p-0 m-0">
              <ul class="col-lg-6 col-md-6 col-sm-6 p-0 sedd_to">
                <li>Store Name: ( <%=@vendor.name%>)</li>
                <li>Order Number: (<%=@order.number%>)</li>
                <li>Purchased On: <%=@order.created_at.strftime("%e/%m/%Y")%></li>
                <li>Total Items: <%=@order.line_items.count%></li>
                <li>Total Personalised: <%= @order.line_items.select{|li| li.personalized_info.present?}.count%></li>
              </ul>

              <ul class="col-lg-6 col-md-6 col-sm-6 p-0 order-back m-0 text-right">
                <li><button><a href="<%= spree.edit_account_path(partial: "orders")%>" style="color:black;" >BACK TO ORDER</a></button></li>
              </ul>     
            </div>

            <div class="clearfix"></div>

            <div class="dvd"></div>

            <div class="clearfix"></div>

            <div class="general_qry">
              <div class="radio-dv">
                <p>
                  <%= f.radio_button :query_type, 'General Query', id: "test1", requied: true, checked:  true, data: {order_id: @order.id } %>
                  <label for="test1">General Query</label>
                </p>

                <p>
                  <%= f.radio_button :query_type, 'Return Request', id: "test2" , requied: true, data: {order_id: @order.number }%>
                  <label for="test2">Return Request</label>
                </p>
              </div>
            </div>

            <div class="return_details tp-qry-input">
              <label>Subject*</label>
              <%= f.text_field :subject, maxlength: 255, size: 50, class: 'form-control', requied: true %>
              <%= f.hidden_field :order_number , value: @order.number.to_s %>
              <%= hidden_field_tag 'lang', 'en' %>
            </div>

            <div class="ftr_not order-set-marg">
              <p>PLEASE NOTE: If your query is regarding a faulty or damaged item, we will need an image.  Please select Return Request in this instance</p>
            </div>
            <div class="return_details">
              <label>Query Comments*</label>
              <%= f.text_area :query, maxlength: 255, size: 50, class: 'form-control', requied: true %>
              <div class="st-set-sub text-right">
                <%= f.submit "SUBMIT REQUEST", class: 'sb_frm_return' %>
              </div>
            </div>
            <div class="clearfix"></div>
          <% end%>
        </div>
      </div>
    </div>
  </div>      
</div>


<div class="clearfix"></div>

<div class="adver-sec">
  <div class="container">
    <div class="adver-sec-mn"><%= image_tag "advertize.jpg", alt: "", class: "img-responsive"%> </div>
  </div>
</div>

