<%= form_for @contact_store, url: vendor_contact_stores_path(@vendor.id), html: { method: :post } do |f| %>
  <div>
    <%=@vendor.name%>
  </div>
  <div>
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
  </div>
  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, maxlength: 255, size: 50, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :query %>
    <%= f.text_area :query, maxlength: 255, size: 50, class: 'form-control' %>
  </div>

  <div class="form-actions">
    <%= f.submit "submit request", class: 'btn btn-default' %>
  </div>
<% end %>
