<script>

</script>
<% user_contents     = Spree::PageContent.from_gen_slug('user') %>
<% user_btn_contents = user_contents.from_gen_slug('user-btn') %>
<% user_main_contents = user_contents.from_gen_slug('user-main') %>
<% user_fields_contents = user_contents.from_gen_slug('user-field') %>
<% user_personal_content = user_main_contents.spec_slug('user-main-heading-desc').last%>
<% user_measurement_content = user_main_contents.spec_slug('user-main-msr-heading-desc').last%>
<% user_personal_btn_content = user_btn_contents.spec_slug('user-btn-label-save').last%>
<% user_measurement_btn_content = user_btn_contents.spec_slug('user-btn-msr-label-save').last%>
<% user_first_name = user_fields_contents.spec_slug('user-field-label-first-name').last%>
<% user_last_name = user_fields_contents.spec_slug('user-field-label-last-name').last%>
<% user_email = user_fields_contents.spec_slug('user-field-label-email').last%>
<% user_phone_number = user_fields_contents.spec_slug('user-field-label-phone-number').last%>
<% user_birth_date = user_fields_contents.spec_slug('user-field-label-birth-date').last%>
<% user_birth_month = user_fields_contents.spec_slug('user-field-label-birth-month').last%>
<% user_msr_head = user_fields_contents.spec_slug('user-field-msr-label-head').last%>
<% user_msr_shld_lft = user_fields_contents.spec_slug('user-field-msr-shld-lft').last%>
<% user_msr_shld_rht = user_fields_contents.spec_slug('user-field-msr-shld-rgt').last%>
<% user_msr_lft_arm = user_fields_contents.spec_slug('user-field-msr-label-lft-arm').last%>
<% user_country  = user_fields_contents.spec_slug('user-field-label-country').last%>

<div class="clearfix"></div>

<% Globalize.with_locale (I18n.locale) do %> 
  <div class="container">

    <div class="stor-full-top">
      <div class="dv-title text-center col-md-12">
        <h2><%= user_personal_content.try(:title) %> </h2>
      </div>
      
      <div class="clearfix"></div>
    </div>
    
    <div class="locan-stor cate-pg">
    
      <%= render  partial: "spree/en/account_management/side_bar_tab" %> 
      
      <div class="col-lg-10 col-md-10 col-sm-9 stor-list-pg">
        
        <div class="col-lg-12 col-md-12 col-sm-12 acc_form_set">
        
        <div class="col-lg-12 col-md-12 col-sm-12 wet-text">
        <p><%= user_personal_content.try(:description) %></p>
        </div>
        
      <div class="col-lg-12 col-md-12 col-sm-12 wet-frm">
        
       <div class="col-lg-3 col-md-3 col-sm-3 wet-pro-pic">

        <span id="user-profile-image"><%= render partial: "spree/users/profile_section", locals: {user_profile_image: spree_current_user.profile_image, height: "90", width: "90"} %></span>

        <div class="return_reason-img">
          <div class="img-up-lod">
            <label style="display: none;" id="bb">Select Image
              <%= f.file_field :profile_image, size: 60, id: "File", accept: "image/x-png,image/gif,image/jpeg" %>
            </label>
            <span id= "file-name"class="text-center"></span>
          </div>
        </div>
        
       </div>
       
       <div class="col-lg-9 col-md-9 col-sm-9 wet-ful-frm">
       
       <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
       <label><%= user_first_name.try(:title) %></label>
        <%= f.text_field :first_name, :class => 'form-control' %>
       </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
        <label><%=  user_last_name.try(:title) %></label>
        <%= f.text_field :last_name, :class => 'form-control' %>
       </div>
       
        <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
       <label><%= user_email.try(:title) %></label>
       <%= f.email_field :email, :class => 'form-control'  %>
       </div>
        <div class="form-group col-md-6 col-sm-6 col-lg-6 nxt-lab">
        <label><%=  user_phone_number.try(:title) %></label>
       <%= f.number_field :phone_number, :class => 'form-control' %>
       </div>
       <div class="form-group col-md-6 col-sm-12 col-lg-6 nxt-sell">
        <label><%= user_birth_date.try(:title) %></label>
        <%= f.select :date_of_birth, options_for_select((1..31).to_a.map{|num| [num,num]}, f.object.date_of_birth.to_i),{},{class: "form-control frt-sell"}%>

        <%= f.select :month_of_birth, options_for_select(Date::MONTHNAMES.compact.map{|mon| [mon,mon.downcase]}, f.object.month_of_birth),{:prompt => user_birth_month.try(:title), },{class: "form-control sc-sell"}%>

       </div>
       <div class="form-group col-md-12 col-sm-12 col-lg-12 sub-btn-acc">
        <%= f.submit user_personal_btn_content.try(:title), :class => "xtut" %>
       </div>
       
       </div>
        </div>
        
         <div class="col-lg-12 col-md-12 col-sm-12 wet-text mesur">
         <h2><%= user_measurement_content.try(:title) %></h2>
        <p><%= user_measurement_content.try(:description) %></p>
        </div>
        
        <div class="clearfix"></div>
        
        <div class="bust-th col-lg-12 col-md-12 col-sm-12">
        <ul>
          <div class="bust-th col-lg-6 col-md-6 col-sm-6">
            <%= hidden_field_tag "personalized_info", "" %>
          <div class="tab-pane active" id="1b">
            <div class="bust-th front-tab-mesure">
              <ul>
                <h2 class="body2 ms-til text-left">Please Enter<br>
                  Your Measurements</h2>
                <li class="front-dots"><img src="http://ubeetech-001-site6.ctempurl.com/images/front-img.png" alt="">
                  <div class="dot-11 dot-style dot-black js-product-measurement" id="js-product-measurement-11"><a href="#" data-toggle="modal" data-target="#lightbox">11</a></div>
                  <div class="dot-13 dot-style js-product-measurement" id="js-product-measurement-13"><a href="#" data-toggle="modal" data-measurement-id="13" data-target="#lightbox">13</a></div>
                  <div class="dot-17 dot-style js-product-measurement" id="js-product-measurement-17"><a href="#" data-toggle="modal" data-measurement-id="17" data-target="#lightbox">17</a></div>
                  <div class="dot-10 dot-style js-product-measurement" id="js-product-measurement-10"><a href="#" data-toggle="modal" data-measurement-id="10" data-target="#lightbox">10</a></div>
                  <!-- <div class="dot-style dot-fill dot-black"><a href="#" data-toggle="modal" data-target="#lightbox"></a></div>-->
                  <div class="dot-1 dot-style js-product-measurement" id="js-product-measurement-1"><a href="#" data-toggle="modal" data-measurement-id="1" data-target="#lightbox">1</a></div>
                  <div class="dot-8 dot-style js-product-measurement" id="js-product-measurement-8"><a href="#" data-toggle="modal" data-measurement-id="8" data-target="#lightbox">8</a></div>
                  <div class="dot-3 dot-style js-product-measurement" id="js-product-measurement-3"><a href="#" data-toggle="modal" data-measurement-id="3" data-target="#lightbox">3</a></div>
                  <div class="dot-5 dot-style dot-red js-product-measurement" id="js-product-measurement-5"><a href="#" data-toggle="modal" data-measurement-id="5"  data-target="#lightbox">5</a></div>
                  <div class="dot-4 dot-style dot-pink js-product-measurement" id="js-product-measurement-4"><a href="#" data-toggle="modal" data-measurement-id="4" data-target="#lightbox">4</a></div>
                  <div class="dot-6 dot-style js-product-measurement" id="js-product-measurement-6"><a href="#" data-toggle="modal" data-measurement-id="6" data-target="#lightbox">6</a></div>
                </li>
              </ul>

            </div>

          </div>
         </div>
        <div class="bust-th col-lg-6 col-md-6 col-sm-6">

          <div class="tab-pane" id="2b">

            <div class="bust-th front-tab-mesure">
              <ul>
                <h2 class="body2 ms-til text-left">Please Enter<br>
                  Your Measurements</h2>

                <li class="front-dots"><img src="http://ubeetech-001-site6.ctempurl.com/images/back-img.png" alt="">
                  <div class="dot-9 dot-style js-product-measurement" id="js-product-measurement-9"><a href="#" data-toggle="modal" data-measurement-id="9" data-target="#lightbox">9</a></div>
                  <div class="dot-16 dot-style js-product-measurement" id="js-product-measurement-16"><a href="#" data-toggle="modal" data-measurement-id="16" data-target="#lightbox">16</a></div>
                  <div class="dot-7 dot-style dot-pink js-product-measurement" id="js-product-measurement-7"><a href="#" data-toggle="modal" data-measurement-id="7"  data-target="#lightbox">7</a></div>
                  <div class="dot-12 dot-style js-product-measurement" id="js-product-measurement-12"><a href="#" data-toggle="modal" data-measurement-id="12" data-target="#lightbox">12</a></div>
                  <div class="dot-2 dot-style dot-black js-product-measurement" id="js-product-measurement-2"><a href="#" data-toggle="modal" data-measurement-id="2" data-target="#lightbox">2</a></div>
                  <div class="dot-14 dot-style js-product-measurement" id="js-product-measurement-14"><a href="#" data-toggle="modal" data-measurement-id="14"  data-target="#lightbox">14</a></div>
                  <div class="dot-15 dot-style js-product-measurement" id="js-product-measurement-15"><a href="#" data-toggle="modal" data-measurement-id="15" data-target="#lightbox">15</a></div>
                </li>

              </ul>
            </div>
          </div>
        </div>
<!--        <li><h3 class="fr-marg">Front</h3><%#= image_tag "front-img.jpg", alt: ""%></li>-->
<!--        <li><h3>Back</h3><%#= image_tag "back-img.jpg", alt: ""%></li>-->

        </ul>



        <div class="sv-acc-btn col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-6 col-md-6 col-sm-6 pro-legand">
            <div class="frt-dx">
              <div class="matis-rd">
                <div class="huy">
                  <span class="nbi"></span>
                  <label class="body2">Measurement not entered</label>
                </div>

                <div class="huy">
                  <span class="dot-pink"></span>
                  <label class="body2">Measurement entered</label>
                </div>

                <div class="huy">
                  <span class="dot-red"></span>
                  <label class="body2">Problem with measurement entered</label>
                </div>
                <div class="huy">
                  <span class="dot-black"></span>
                  <label class="body2"> Current measurement user is trying to enter</label>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 sv-btn-pro">
            <button type="submit" class="acc-sv-btn">Save</button>
          </div>
          <%#= f.submit user_personal_btn_content.try(:title), :class => "acc-sv-btn" %>

        </div>
        
        </div>
        
        
        </div>
        
      </div>
      
      </div>
   
  </div>



  <div class="adver-sec">
    <div class="container">
      <div class="adver-sec-mn"> <img class="img-responsive" src="images/advertize.jpg" alt=""> </div>
    </div>
  </div>
<% end %>



<!-- 
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_head.try(:title)%></label>
        <%#= f.number_field :head, :class => 'form-control'%> 
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#=user_msr_shld_lft.try(:title) %></label>
        <%#= f.number_field :left_shoulder, :class => 'form-control', step: :any %>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
    
  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_shld_rht.try(:title)%></label>
        <%#= f.number_field :right_shoulder, :class => 'form-control'%>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
   
  </div>
</div>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="col-sm-4">
      <div class="form-group">
        <label><%#= user_msr_lft_arm.try(:title) %></label>
        <%#= f.number_field :left_arm, :class => 'form-control' %>
      </div>
    </div>
    <div class="col-sm-2" style="    margin-top: 26px;">
      CM
    </div>
    
  </div>
</div> -->


<!--  <div class="form-group">
  <%#= f.collection_select :country, available_countries, :id, :name, {:prompt => f.object.country.present? ? f.object.country : user_country.try(:title) }, { class: 'form-control', required: true } %>
</div> -->


<!--<label class="control-label">Confirm Password<span class="required">*</span></label>-->
<!--<#%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>-->


<!--<label class="control-label">Enter a Password<span class="required">*</span></label>-->
<!--<#%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>-->
<!--<div class="form-control-legend">Minimum 7 characters. Must include at least 1 letter and 1 number.</div>-->
<script>
    $(function(){
        let measurementsHash = {};
        let test = [];
        let key;
        let name;
        let productPersProps = [{id: 1, name: "1", presentation: "Front Body Length"},{id: 2, name: "2", presentation: "Back Body Length"},{id: 3, name: "3", presentation: "Chest"},{id: 4, name: "4", presentation: "Waist"},{id: 5, name: "5", presentation: "Bust"},{id: 6, name: "6", presentation: "Hips"},{id: 7, name: "7", presentation: "Shoulder Slope"},{id: 8, name: "8", presentation: "Arm Hole"},{id: 9, name: "9", presentation: "Shoulder From Back"},{id: 10, name: "10", presentation: "Full Arm"},{id: 11, name: "11", presentation: "Full Neck"},{id: 12, name: "12", presentation: "Half Neck"},{id: 13, name: "13", presentation: "Half Shoulder"},{id: 14, name: "14", presentation: "Shoulder Elbow"},{id: 15, name: "15", presentation: "Elbow Wrist"},{id: 16, name: "16", presentation: "Wrist"},{id: 17, name: "17", presentation: "V Neck Length"}]

        $('#lightbox').on('show.bs.modal', function(e) {
            let $modal = $(this);
            let $target  = $(e.relatedTarget);
<!--            let productPersProps = <%#== @product.product_properties.map(&:property).select{|s|s.name.to_i > 0}.uniq.to_json %>;-->

            key = $target.data('measurement-id');
            let thisProductPersProps = productPersProps.find(x => x.id == key);
            name = thisProductPersProps.name

            $modal.find('.modal-body .lenth-min').html("<%= j render(:partial => 'spree/shared/measurements/popup_measurement_field') %>");
            $modal.find('.key').html(key);

            console.log({all:productPersProps, thisProduct:thisProductPersProps})
            if(!!thisProductPersProps){
                $modal.find('.js-measurement-label').html(thisProductPersProps.presentation);
            }

            let currentMeasurementsRaw = $('input#personalized_info').val();
            let json_converted = JSON.stringify(currentMeasurementsRaw)

            if(!!currentMeasurementsRaw){
                let currentMeasurementsJson = JSON.parse(json_converted);
                let currentMeasurement = currentMeasurementsJson[key];

                if(currentMeasurement && currentMeasurement.value){
                    $('.js-measurement-input').val(currentMeasurement.value);
                }
            }
        })

        $('body').on('click', '#save-my-measurement',function(e){
            let value = $('.js-measurement-input').val();
            measurementsHash[name] = {key,value};
            $('input#personalized_info').val(JSON.stringify(measurementsHash));
            $('input#personalized_info').trigger('change');
            $('#lightbox').modal('hide');

        })
    })
</script>


<script type="text/javascript">
  $(function(){
    $('input#personalized_info').val(<%== @user.physical_measurment.present? ? @user.physical_measurment.to_json : '{}' %>);
  });
</script>
