<% order_overall_star_rating_review_label     = Spree::PageContent.spec_slug('order-overall-star-rating-review-label').last %>
<% order_add_review_button_label     = Spree::PageContent.spec_slug('order-add-review-button-label').last %>
<% order_cancel_review_button_label     = Spree::PageContent.spec_slug('order-cancel-review-button-label').last %>

<form></form>

<div class="tr-v1-text">
  <%= form_for review, url: product_reviews_path(product), html: { method: :post, class: "purch" }  do |f| %>
    <%= render 'spree/shared/error_messages', target: review %>
    <%= f.hidden_field :name , value: @user.first_name? ? @user.first_name : @user.email %>
    <%= f.hidden_field :rating , value: 0, class: "js-review-form-#{sub_order_id}" %>
    <%= f.text_area :review, wrap: 'virtual', rows: 5, cols: 50, id: "text",class: 'form-control',placeholder: "", maxlength:  "1500" %>
    <label class="limt-text" id="count_message">1500</label>

    <% if Spree::Reviews::Config[:show_identifier] %>
      <div class="checkbox">
        <%= f.label :show_identifier do %>
          <%= f.check_box :show_identifier, checked: true %>
          <%= Spree::Review.human_attribute_name(:show_identifier) %>
        <% end %>
      </div>
    <% end %>

    <div class="pop-rating">
      <ul>
        <li class="ovr_all"><%= order_overall_star_rating_review_label.try(:title) %></li>
        <%= render 'spree/reviews/stars', stars: review.rating, edit_enabled: true, sub_order_id: sub_order_id %>
      </ul>
    </div>
    <div class="clearfix"></div>
    <div class="add-rev-btns pop-add-btns">
      <button class="cancel-btn" data-target="js-click-<%= sub_order_id%>" data-dismiss="modal"><%= order_cancel_review_button_label.try(:title) %></button>
      <button type="submit" id="add-review-btn", data-target = "js-review-form-<%= sub_order_id%>" class="sub-btn-add"><%=order_add_review_button_label.try(:title)%></button>
      <%#= f.submit order_add_review_button_label.try(:title), class: 'btn sub-btn-add', id: "add-review-btn" %>
    </div>
  <% end %>
</div>

<script>
    $('.cancel-btn').on('click',function () {
        let attr_class= $(this).attr('data-target')
        $('.'+attr_class).trigger('click')
    })
    $('.sub-btn-add').click(function () {
        $('.color_class').remove();
        let input_id = $(this).attr('data-target');
        if ($('.'+input_id).val() == "0"){
            $(this).after('<span class="color_class" style="color: red">please add review</span>');
            return false
        }
    })
    $('.js-rating-modal').on('click',function(){
        let id = $(this).attr('id');
        // let el = $('#'+id).last().children();
        let el = $(this).children().last();
        // let old_stars = $('.star-rating-control').first().children();
        let c =0;
        for(let i =0 ;i < 5; i++){
            if($(el).hasClass('active')){
                c += 1;
                // $(old_stars[i+1]).addClass('star-rating-on')
            }
            el = $(el).children();
        }
        if (c > 0){
            $('.js-review-form-'+id).val(c)
            // $(old_stars[c+1]).trigger('click');
        }

    })
</script>