<% wishlist_error_content = Spree::PageContent.from_gen_slug('wishlist') %>
<% wishlist_add_success_msg_content  = wishlist_error_content.spec_slug('wishlist-success-msg-add').last %>
<% wishlist_error_before_msg_content  = wishlist_error_content.spec_slug('wishlist-error-before-msg-add').last %>
<% wishlist_error_after_msg_content  = wishlist_error_content.spec_slug('wishlist-error-after-msg-add').last %>

<% Globalize.with_locale (I18n.locale) do %>
	<% if @wished_product.errors.blank? %>
		$('#js-messages').html("<a href='#' class='close' data-dismiss='alert' aria-label='close'>&times;</a><p><%= @wished_product.variant.name.to_s%> <%= wishlist_add_success_msg_content.try(:title) %></p>")
		$('#js-messages').addClass("alert-success")
		$('#js-messages').removeClass('hide alert-danger')
	<% else %>
		$('#js-messages').html("<a href='#'' class='close' data-dismiss='alert' aria-label='close'>&times;</a><p> <%= wishlist_error_before_msg_content.try(:title)%> <%= @wished_product.variant.name %> <%= wishlist_error_after_msg_content.try(:title) %></p>")
		$('#js-messages').addClass("alert-danger")
		$('#js-messages').removeClass('hide alert-success')
	<% end %>
<% end  %>

$('html, body').animate({
  scrollTop: $("#js-messages").offset().top
}, 2000);

<% if  params[:view_from].present? && (params[:view_from] == "home_page") %>
	setTimeout(location.reload.bind(location), 3000);

<% end %>




