<% lang = I18n.locale %>
<% if @wished_product.errors.any? %>
	$('#wishlist-info-sec').html("<p><%= Spree::PageContent.from_gen_slug('wishlist-error-msg').spec_slug('wishlist-error-msg-delete').last.try(:title) %></p><br><p><%= @wished_product.errors.messages%></p>")
	$('#wishlist-info-sec').addClass("alert-danger")
	$('#wishlist-info-sec').removeClass('hide alert-success')
<% else %>
	var html = "<%= j render partial: "spree/#{lang.present? ? lang.to_s : DEFAULT_VIEW_LANG}/account_management/wishlist_collection", locals: {wishlist: spree_current_user.wishlists.first} %>"
	$("#user-"+ <%= spree_current_user.id %> + "-wishlist-section").html(html);
	$('#wishlist-info-sec').html("<p><%= Spree::PageContent.from_gen_slug('wishlist-success-msg').spec_slug('wishlist-success-msg-delete').last.try(:title) %></p>")
	$('#wishlist-info-sec').addClass("alert-success")
	$('#wishlist-info-sec').removeClass('hide alert-danger')
	
<% end %>
$('html, body').animate({
  scrollTop: $("#wishlist-info-sec").offset().top
}, 2000);







