<p id="notice"><%= notice %></p>

<h1>Spree User Addresses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spree_user_addresses.each do |spree_user_address| %>
      <tr>
        <td><%= link_to 'Show', spree_user_address %></td>
        <td><%= link_to 'Edit', edit_spree_user_address_path(spree_user_address) %></td>
        <td><%= link_to 'Destroy', spree_user_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spree User Address', new_spree_user_address_path %>
