<h1 class="text-center"> Orders </h1>
<hr>
<p>
  Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
</p>
<hr>
<% @orders.each do |order| %>
    <fieldset id="order_summary-<%order.id%>">
      <div id="order" data-hook="">
        <div class="row steps-data margin-top-50">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <h4>Order Details</h4>
            <div class="fn"><%= order.number %></div>
            <div>
              Purchased on:
              <%= order.created_at.strftime("%e/%m/%Y") %>
            </div>
            <div>
              Items:
              <%= order.line_items.count %>
            </div>
            <div>
              Personalised Item:
              <%= order.line_items.count %>
            </div>
            <% if order.has_step?("payment") %>
                <div>
                  Payment method:
                  <%= order.payments.valid.map{|payment| payment.payment_method.name}.join(',') %>
                </div>
            <% end %>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <h4>Shiping Details</h4>
            <% if order.has_step?("delivery") %>
                <h5><%= order.ship_address.full_name %></h5>
                <% unless order.ship_address.phone.blank? %>
                    <%= order.ship_address.phone %>
                <% end %>
                <% unless order.ship_address.alternative_phone.blank? %>
                    <div class="alternative-phone tel">
                      <%= order.ship_address.alternative_phone %>
                    </div>
                <% end %>

                <div class="adr">
                  <div class="street-address">
                    <div class="street-address-line">
                      <%= order.ship_address.address1 %>
                    </div>
                    <% unless order.ship_address.address2.blank? %>
                        <div class="street-address-line">
                          <%= order.ship_address.address2 %>
                        </div>
                    <% end %>
                  </div>
                  <div class="local">
                    <span class="locality"><%= order.ship_address.city %></span>
                    <span class="postal-code"><%= order.ship_address.zipcode %></span>
                    <div class="country-name"><%= order.ship_address.country.try(:name) %></div>
                  </div>
                </div>
            <%end%>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-6">
            <h4>Order Summary</h4>
            <div>
              Shiping:
              <% order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
                  <tr class="total">
                    <td class="total"><span><%= Spree::Money.new(shipments.sum(&:discounted_cost), currency: order.currency).to_html %></span></td>
                  </tr>
              <% end %>
            </div>
            <div>
              Store Credit: $40
            </div>
            <div>
              Discount: $40
            </div>
            <div>
              Product Total: $300
            </div>
            <div>
              <b>Cart Total:</b>
              <b><%= order.display_total.to_html %></b>
            </div>
          </div>
        </div>
        <hr>
        <div>
          <%vendors = []%>
          <%vendors = order.products.group_by(&:vendor) %>
          <% vendors.each do |vendor, products|%>
              <br>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <h4><%= order.number %> - Purchased From <%=vendor.name%></h4>
                <span class="pull-right">
                <% if order.shipped?%>
                  Shiped On: <%=order.shipments.first.shipped_at? ? order.shipments.first.shipped_at.strftime("%e/%m/%Y") : ""%>
                <% else %>
                  Shiped On: -
                <% end %>
                <div>
                  Tracking Number: <%=order.shipments.first.tracking? ? order.shipments.first.tracking : ""%>
                </div>
              </span>
              </div>
            </div>
            <% if vendors.count < 2%>
              <div class="row steps-data">
                <% state_class = order.completed? ? "green": ""%>
                <% partially_closed = order.shipped? ? "green" : ""%>
                <div class="col-md-2 col-sm-4">
                  <a style="color: <%=state_class%>;">Order Received</a>
                </div>
                <div class="col-md-2 col-sm-4">
                  <a style="color: <%=state_class%>;">Order In Progress</a>
                </div>
                <div class="col-md-2 col-sm-4">
                  <a style="color: <%=partially_closed%>;">Order Delivered</a>
                </div>
              </div>
            <% end %>
            <hr>
            <div class="half-width">
              <% products.each do |pro|%>
                <% order.line_items.each do |item| %>
                  <% next if pro.id != item.variant.product.id%>
                  <div class=" row">
                    <div class="col-md-4 col-sm-2">
                      <% if item.variant.images.length == 0 %>
                          <%= link_to small_image(item.variant.product), item.variant.product %>
                      <% else %>
                          <%= link_to image_tag(main_app.url_for(item.variant.images.first.url(:small))), item.variant.product %>
                      <% end %>
                    </div>
                    <div class="col-md-8 col-sm-2">
                      <h4><%= item.quantity.to_s + " x " + item.name %></h4>
                      <%= truncate(item.description, length: 100) %>
                      <div>
                        <%= item.variant.options_text unless item.variant.option_values.empty? %>
                      </div>
                      <div>
                        <span>100.0</span>
                        <span class="pull-right">100.0</span>
                      </div>
                      <div>
                        30% OFF
                      </div>
                      <div>
                        <%user_review = nil%>
                        <% if item.variant.product.reviews.present?%>
                            <%item.variant.product.reviews.each do |review|%>
                                <% next if review.user_id != @user.id%>
                                <% user_review = review%>
                            <% end %>
                        <% end %>
                        <% if user_review.present? %>
                          <%= render 'spree/reviews/stars', stars: user_review.rating %>
                          <span class="pull-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#show-review-<%=item.id%>">
                              My Review
                            </button>
                          </span>
                          <div class="modal fade" id="show-review-<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document" style="left: 0px;">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Product Review</h5>
                                </div>
                                <div class="modal-body">
                                  <div>
                                    Product Nmae: <%=item.name%>
                                  </div>
                                  <div>
                                    Review Date: <%= user_review.created_at.strftime("%e/%m/%Y")%>
                                  </div>
                                  <div>
                                    <%= simple_format(user_review.review) %>
                                  </div>
                                  <div>
                                    <%= render 'spree/reviews/stars', stars: user_review.rating %>
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% else %>
                          <%= render 'spree/reviews/stars', stars: 0 %>
                          <span class="pull-right">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-review-<%=item.id%>">
                              Review
                              <i class="fa fa-star"></i>
                            </button>
                          </span>
                          <div class="modal fade" id="create-review-<%=item.id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document" style="left: 0px;">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Create Product Review</h5>
                                </div>
                                <div class="modal-body">
                                  Thankyou for leaving a review for the <%=item.name%> you perchased on <%= order.created_at.strftime("%e/%m/%Y") %>
                                  <%= render 'spree/account_management/review', review: Spree::Review.new(product: item.variant.product), product:  item.variant.product%>
                                </div>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <hr>
                <%end%>
              <% end %>
            </div>
            <div class="half-width">
              <div class="buttons-collection">
                <div class="margin-bottom-20">
                  <%= link_to("/admin/invoice/#{order.number}/invoice", target:  "_blank", class: "btn btn-primary") do %>
                      <span class='glyphicon glyphicon-print'></span>
                      <%= Spree.t("Download Invoice") %>
                  <% end %>
                </div>
                <div class="margin-bottom-20">
                  <!--<button class="btn btn-primary">Contact Store  <i class="fa fa-star"></i></button>-->
                  <%= link_to(spree.new_vendor_contact_store_path(vendor.id, order_number: order.number), target:  "_blank", class: "btn btn-primary") do %>
                      <span class='fa fa-star'></span>
                      Contact Store
                  <% end %>
                </div>
                <div class="margin-bottom-20">
                  <% if spree_current_user.present? && order.shipped? && order.has_returnable_products? && order.has_returnable_line_items? %>
                    <%= link_to(spree.new_order_return_authorization_path(order), class: 'btn btn-primary') do %>
                      <span class='glyphicon glyphicon-send'></span>
                      Request Return
                    <% end %>
                  <% end %>
                </div>
                <div class="margin-bottom-20">
                  <button class="btn btn-primary">View Messages  <i class="fa fa-star"></i></button>
                </div>
                <hr>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </fieldset>
<% end %>

<!--<p>-->
<!--<%#= f.submit "Save", :class => 'btn btn-primary' %>-->
<!--</p>-->