<p> Personal Info Tab </p>
<div class="row narrow-row-md">
  <div class="col-sm-6">
    <div class="form-group">
      <label class="control-label">Email Address<span class="required">*</span></label>
      <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
    </div>
  </div>
</div>

	<div class="row narrow-row-md">
	  <div class="col-sm-6">
	    <div class="form-group">
        <label class="control-label">First Name<span class="required">*</span></label>
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => Spree.t(:first_name) %>
	      <!--<label class="control-label">Enter a Password<span class="required">*</span></label>-->
	      <!--<#%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>-->
	      <!--<div class="form-control-legend">Minimum 7 characters. Must include at least 1 letter and 1 number.</div>-->
	    </div>
	  </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Last Name<span class="required">*</span></label>
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => Spree.t(:last_name) %>
      </div>
    </div>
	</div>
	<div class="row narrow-row-md">
	  <div class="col-sm-6">
	    <div class="form-group">
        <label class="control-label">Phone Number<span class="required">*</span></label>
        <%= f.text_field :phone_number, :class => 'form-control', :placeholder => "Phone Number" %>
	      <!--<label class="control-label">Confirm Password<span class="required">*</span></label>-->
	       <!--<#%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>-->
	    </div>
	  </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Date of birth<span class="required">*</span></label>
        <%= f.select :date_of_birth, options_for_select((1..31).to_a.map{|num| [num,num]}, f.object.date_of_birth.to_i),{},{:placeholder => "Date of Birth"}%>
        <%= f.select :month_of_birth, options_for_select(Date::MONTHNAMES.compact.map{|mon| [mon,mon.downcase]}, f.object.month_of_birth),{},{:placeholder => "Month of Birth"}%>
      </div>
    </div>
	</div>
  <p> Measurement Information </p>
  <div class="row narrow-row-md">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Head<span class="required">*</span></label>
        <%= f.number_field :head, :class => 'form-control', :placeholder => "head" %>
      </div>
    </div>
  </div>
  <div class="row narrow-row-md">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Left Shoulder<span class="required">*</span></label>
        <%= f.number_field :left_shoulder, :class => 'form-control', :placeholder => "Left Shoulder" %>
      </div>
    </div>
  </div>
  <div class="row narrow-row-md">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Right Shoulder<span class="required">*</span></label>
        <%= f.number_field :right_shoulder, :class => 'form-control', :placeholder => "Right Shoulder" %>
      </div>
    </div>
  </div>
  <div class="row narrow-row-md">
    <div class="col-sm-6">
      <div class="form-group">
        <label class="control-label">Left Arm<span class="required">*</span></label>
        <%= f.number_field :left_arm, :class => 'form-control', :placeholder => "Left Arm" %>
      </div>
    </div>
  </div>
<p>
	<%= f.submit "Save", :class => 'btn btn-primary' %>
</p>