<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<% if spree_current_user.present? && (params[:action].present? && params[:action] != "new") %>

  <% profile_nav_txt     = Spree::PageContent.from_gen_slug('profile-nav-txt') %>
  <% profile_info_txt    = profile_nav_txt.spec_slug('profile-nav-txt-personal-info').last %>
  <% addresses_txt    = profile_nav_txt.spec_slug('profile-nav-txt-addresses').last %>
  <% orders_txt    = profile_nav_txt.spec_slug('profile-nav-txt-orders').last %>
  <% wishlist_txt    = profile_nav_txt.spec_slug('profile-nav-txt-wishlist').last %>
  <% reviews_txt    = profile_nav_txt.spec_slug('profile-nav-txt-reviews').last %>
  <% settings_txt    = profile_nav_txt.spec_slug('profile-nav-txt-settings').last %>
  <% messages_txt    = profile_nav_txt.spec_slug('profile-nav-txt-messages').last %>
  <% sc_txt          = profile_nav_txt.spec_slug('profile-nav-txt-support-centre').last %>
  <% logout_txt    = profile_nav_txt.from_gen_slug('profile-nav-txt-logout').last %>
  <% stores_txt    = profile_nav_txt.from_gen_slug('profile-nav-txt-stores').last %>

  <% wishlist_label_advertisment = Spree::PageContent.spec_slug('wishlist-label-advertisement').last %>

  <!------ Include the above in your HEAD tag ---------->
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <% Globalize.with_locale (I18n.locale) do %> 
          <ul class="nav nav-pills nav-stacked admin-menu" id="profile-tabs">
            <li class="active"><a href="#" data-target-id="pi"><i class="fa fa-home fa-fw"></i><%= profile_info_txt.try(:title)%></a></li>

            <li><a href="#" data-target-id="address"><i class="fa fa-list-alt fa-fw"></i><%= addresses_txt.try(:title)%></a></li>
            <li><a href="#" data-target-id="orders"><i class="fa fa-file-o fa-fw"></i><%= orders_txt.try(:title)%></a></li>
            <li><a href="#" data-target-id="whislist"><i class="fa fa-bar-chart-o fa-fw"></i><%= wishlist_txt.try(:title)%></a></li>
            <li><a href="#" data-target-id="reviews"><i class="fa fa-table fa-fw"></i><%= reviews_txt.try(:title)%></a></li>
            <li><a href="#" data-target-id="stores"><i class="fa fa-heart fa-fw"></i><%= stores_txt.try(:title)%></a></li>
            <li><a href="#" data-target-id="settings"><i class="fa fa-tasks fa-fw"></i><%= settings_txt.try(:title)%></a></li>
            <li><a href="#" data-target-id="messages"><i class="fa fa-calendar fa-fw"></i><%= messages_txt.try(:title)%></a></li>
            <li><a href="#" data-target-id="appointments"><i class="fa fa-tasks fa-fw"></i>My Appointments</a></li>
            <li><a href="#" data-target-id="sc"><i class="fa fa-book fa-fw"></i><%= sc_txt.try(:title)%></a></li>
            <li>
              <%= link_to spree.logout_path do %>
                <i class="fa fa-pencil fa-fw"></i><%= logout_txt.try(:title)%>
              <% end %>
            </li>

          </ul>
        <% end %>
      </div>

      <div class="col-md-9 well admin-content" id="pi">
        <%= form_for @user, :url => spree.user_path(@user), :method => :put, :remote => true do |f| %>
         <%= render partial: "spree/account_management/personal_information", locals: { :f => f } %>
        <% end %>
      </div>

      <div class="col-md-9  admin-content" id="address">
         <%= render partial: "spree/account_management/addresses" %>
      </div>

      <div class="col-md-9 well admin-content" id="orders">
        <%= form_for @user, :url => spree.user_path(@user), :method => :put, :remote => true do |f| %>
          <%= render partial: "spree/account_management/orders", locals: { :f => f } %>
        <% end %>
      </div>
      
      <div class="col-md-9  admin-content" id="whislist">
        <%= render partial: "spree/account_management/wishlist"%>
        <% if wishlist_label_advertisment.image.attached? %>
          <div>
            <p><%= wishlist_label_advertisment.try(:title) %></p>
            <%= image_tag(main_app.url_for(wishlist_label_advertisment.image), height: "60px", width: "100%") %>
          </div>
        <% end %>
      </div>


      <div class="col-md-9 well admin-content" id="reviews">
        <%= form_for @user, :url => spree.user_path(@user), :method => :put, :remote => true do |f| %>
          <%= render partial: "spree/account_management/reviews", locals: { :f => f } %>
        <% end %>
      </div>

      <div class="col-md-9 well admin-content" id="stores">
        <%= form_for @user, :url => spree.user_path(@user), :method => :put, :remote => true do |f| %>
          <%= render partial: "spree/account_management/stores", locals: { :f => f } %>
        <% end %>
      </div>

      <div class="col-md-9 well admin-content" id="settings">
        <%= render partial: "spree/account_management/settings"%>
      </div>

      <div class="col-md-9 well admin-content" id="messages">
        <%= form_for @user, :url => spree.user_path(@user), :method => :put, :remote => true do |f| %>
          <%= render partial: "spree/account_management/messages", locals: { :f => f } %>
        <% end %>
      </div>

      <div class="col-md-9 well admin-content" id="sc">
        <%= form_for @user, :url => spree.user_path(@user), :method => :put, :remote => true do |f| %>
          <%= render partial: "spree/account_management/support_center", locals: { :f => f } %>
        <% end %>
      </div>
    </div>

    
  </div>

<% else %>
  <% user_contents        = Spree::PageContent.from_gen_slug('user') %>
  <% user_fields_contents = user_contents.from_gen_slug('user-field') %>
  <% user_first_name = user_fields_contents.spec_slug('user-field-label-first-name').last%>
  <% user_last_name = user_fields_contents.spec_slug('user-field-label-last-name').last%>
  <% user_email = user_fields_contents.spec_slug('user-field-label-email').last%>
  <% user_birth_date = user_fields_contents.spec_slug('user-field-label-birth-date').last%>
  <% user_birth_month = user_fields_contents.spec_slug('user-field-label-birth-month').last%>
  <% user_email_confirmation = user_fields_contents.spec_slug('user-field-label-email-confirmation').last%>
  <% user_country  = user_fields_contents.spec_slug('user-field-label-country').last%>
  <% user_password = user_fields_contents.spec_slug('user-field-label-password').last%>
  <% user_password_confirm = user_fields_contents.spec_slug('user-field-label-password-confirmation').last%>

  <% Globalize.with_locale (I18n.locale) do %> 
    <fieldset id="password-credentials">

      <div class="form-group">
        <%= f.text_field :first_name, :class => 'form-control', :placeholder => user_first_name.try(:title), required: true%>
      </div>
      <div class="form-group">
        <%= f.text_field :last_name, :class => 'form-control', :placeholder => user_last_name.try(:title) , required: true%>
      </div>

      <div class="form-group">
        <%= f.email_field :email, :class => 'form-control', :placeholder => user_email.try(:title), required: true %>
      </div>

      <div class="form-group">
        <%= f.email_field :email_confirmation, :class => 'form-control', :placeholder => user_email_confirmation.try(:title), required: true %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, :class => 'form-control', :placeholder => user_password.try(:title), required: true %>
      </div>

      <!-- <div class="form-group">
        <%#= f.password_field :password_confirmation, :class => 'form-control', :placeholder => user_password_confirm.try(:title), required: true %>
      </div> -->

      <div class="col-md-6">
        <div class="form-group">
        <%= f.select :date_of_birth, options_for_select((1..31).to_a.map{|num| [num,num]}, f.object.date_of_birth.to_i),{:prompt => user_birth_date.try(:title)},{class: "form-control", required: true}%>
      </div>

      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.select :month_of_birth, options_for_select(Date::MONTHNAMES.compact.map{|mon| [mon,mon.downcase]}, f.object.month_of_birth),{:prompt => user_birth_month.try(:title), },{class: "form-control", required: true}%>
        </div>
      </div>

      <div class="form-group">
        <%= f.collection_select :country, available_countries, :id, :name, {:prompt => user_country.try(:title) }, { class: 'form-control', required: true } %>
      </div>
      


    </fieldset>
  <% end %>
  <div data-hook="signup_below_password_fields"></div>
  
<% end %>


