<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<% if page_name == "registeration" %>
<h2 class="text-center">Registration</h2>
  <h4 class="text-center">It looks like you’re new here. we need a bit more info…</h4>
<% else %>
<h2 class="text-center" style="font-style: italic;">Edit Account</h2>
<% end %>

<!------ Include the above in your HEAD tag ---------->
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked admin-menu">
        <li class="active"><a href="#" data-target-id="pi"><i class="fa fa-home fa-fw"></i>Personal Information</a></li>
        <li><a href="http://www.jquery2dotnet.com" data-target-id="address"><i class="fa fa-list-alt fa-fw"></i>Addresses</a></li>
        <li><a href="http://www.jquery2dotnet.com" data-target-id="orders"><i class="fa fa-file-o fa-fw"></i>Orders</a></li>
        <li><a href="http://www.jquery2dotnet.com" data-target-id="whislist"><i class="fa fa-bar-chart-o fa-fw"></i>Whislist</a></li>
        <li><a href="http://www.jquery2dotnet.com" data-target-id="reviews"><i class="fa fa-table fa-fw"></i>Reviews</a></li>
        <li><a href="http://www.jquery2dotnet.com" data-target-id="settings"><i class="fa fa-tasks fa-fw"></i>Settings</a></li>
        <li><a href="http://www.jquery2dotnet.com" data-target-id="messages"><i class="fa fa-calendar fa-fw"></i>Messages</a></li>
        <li><a href="http://www.jquery2dotnet.com" data-target-id="sc"><i class="fa fa-book fa-fw"></i>Supoort Center</a></li>
        <li><a href="http://www.jquery2dotnet.com" data-target-id="logout"><i class="fa fa-pencil fa-fw"></i>Logout</a></li>

      </ul>
    </div>
    <div class="col-md-9 well admin-content" id="pi">
    	<p> Personal Info Tab </p>
    	<div class="row narrow-row-md">
			  <div class="col-sm-6">
			    <div class="form-group">
			      <label class="control-label">Email Address<span class="required">*</span></label>
			      <%= f.email_field :email, :class => 'form-control', :placeholder => Spree.t(:email) %>
			    </div>
			  </div>
			</div>

			<div class="row narrow-row-md">
			  <div class="col-sm-6">
			    <div class="form-group">
			      <label class="control-label">Enter a Password<span class="required">*</span></label>
			      <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
			      <div class="form-control-legend">Minimum 7 characters. Must include at least 1 letter and 1 number.</div>
			    </div>
			  </div>
			</div>
			<div class="row narrow-row-md">
			  <div class="col-sm-6">
			    <div class="form-group">
			      <label class="control-label">Confirm Password<span class="required">*</span></label>
			       <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>
			    </div>
			  </div>
			</div>
    	<p>
      	<%= f.submit "Save", :class => 'btn btn-primary' %>
    	</p>
    </div>
    <div class="col-md-9 well admin-content" id="address">
    	<p> Addresses </p>
      <p>
      	<%= f.submit "Save", :class => 'btn btn-primary' %>
    	</p>
    </div>
    <div class="col-md-9 well admin-content" id="orders">
    	<p> Orders </p>
       <p>
      	<%= f.submit "Save", :class => 'btn btn-primary' %>
    	</p>
    </div>
    <div class="col-md-9 well admin-content" id="whislist">
    	<p> Whislist </p>
      <p>
      	<%= f.submit "Save", :class => 'btn btn-primary' %>
    	</p>
    </div>
    <div class="col-md-9 well admin-content" id="reviews">
    	<p> Reviews</p>
      <p>
      	<%= f.submit "Save", :class => 'btn btn-primary' %>
    	</p>
    </div>
    <div class="col-md-9 well admin-content" id="settings">
    	<p> Settings </p>
      <p>
      	<%= f.submit "Save", :class => 'btn btn-primary' %>
    	</p>
    </div>
    <div class="col-md-9 well admin-content" id="messages">
    	<p> Messages </p>
      <p>
      	<%= f.submit "Save", :class => 'btn btn-primary' %>
    	</p>
    </div>
    <div class="col-md-9 well admin-content" id="sc">
    	<p> Supoort Center </p>
      <p>
      	<%= f.submit "Save", :class => 'btn btn-primary' %>
    	</p>
    </div>
  </div>
</div>
<% if page_name == "registeration" %>
   <p class="text-center"><small>By clicking &quot;Continue&quot;, you agree to our <a href="#">Terms of Service</a> &amp; <a href="#">Privacy Policy</a>, including receipt of emails and promotions.</small></p>
  <p><%= f.submit 'Continue', :class => 'btn btn-lg btn-success btn-block' %></p>
  <div class="text-center">
    <%= link_to 'Already Registered? Try another email', spree.login_path %>
  </div>
<% end %>